@@ -1,97 +0,0 @@
.account-find {
  padding: 0 20px;
}
.account-find__column {
  margin: 20px 0;
  padding: 20px 5px;
  border: var(--border-outline-2_5px);
  border-radius: 15px;
  background-color: var(--color-background_light_most);

  color: var(--color-baisc_light);

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.account-find__column:hover {
  color: var(--color-basic_white_most);
  background-color: var(--color-background_strong);
}
.account-find__column:nth-child(1),
.account-find__column:nth-child(2) {
  margin: inherit;
  padding: inherit;
  border: inherit;
  border-radius: inherit;
  justify-content: inherit;
  background-color: inherit;
}
.account-find__column:nth-child(1):hover,
.account-find__column:nth-child(2):hover {
  color: var(--color-baisc_light);
  background-color: inherit;
}
.account-find__column:hover .account-find__column__column__logo-size {
  animation: FlipIconinGradient 1s linear infinite;
}
@keyframes FlipIconinGradient {
  0% {
    color: lavender;
    transform: none;
  }
  20% {
    color: lemonchiffon;
  }
  40% {
    color: lightpink;
  }
  60% {
    color: lemonchiffon;
  }
  100% {
    color: lavender;
    transform: rotateY(360deg);
  }
}
.account-find__title {
  font-size: 25px;
  font-weight: 600;
  /*color:var*/
}
.account-find__explain {
  font-size: 15px;
  font-weight: 600;
  /*color:var*/
}
.account-find__column__column {
  display: flex;
}
.account-find__column__column:nth-child(1) {
  width: 10vw;
}
.account-find__column__column:nth-child(2) {
  width: 80vw;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.account-find__column__column:nth-child(3) {
  width: 10vw;
  justify-content: flex-end;
}
.account-find__column__column__logo-size {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.account-find__cbolumn__column__text-size {
  font-size: 20px;
  font-weight: 600;
  /*color:var*/
}
.account-find__column__column__icon-size {
  width: 40px;
  height: 40px;
}
