#login-form {
  /* design */
  /* font */
  /* display */
}
.status-bar {
  /* design */
  padding: 5px 3px;
  /* font */
  color: var(--main-bg-color);
  /* display */
  display: flex;
  justify-content: center;
}
/* elements */
.status_bar__icon {
  /* design */
  /* font */
  /* display */
  width: 20px;
  height: 20px;
}
.status_bar__column {
  width: 33%;
}
.status_bar__column:first-child span {
  /* design */
  margin-right: 2px;
  /* font */
  /* display */
}
.status_bar__column:nth-child(2) {
  /* design */
  /* font */
  /* display */
  display: flex;
  justify-content: center;
}

.status_bar__column:last-child {
  /* design */
  /* font */
  /* display */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status_bar__column .status_bar__icon {
  margin: 0px 3px;
}
#status_bar__icon__wifi {
  transform: translateY(3px);
}
/* modifier */
.status_bar__column__design--font {
  /* design */
  /* font */
  /* display */
}
.status_bar__column__design--color {
  /* design */
  /* font */
  color: lightsalmon;
  /* display */
}
