/* block */
/* design */
/* font */
/* display */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "var_color.css";
@import "index_topbar.css";
@import "index_header.css";
@import "index_input.css";
@import "index_account.css";
@import "background.css";

body {
    /* design */
    background-color: var(--color-background_light);
    /* font */
    font-family: "Open Sans", sans-serif";
}
footer{
    /* design */
    /* font */
    color:teal;
    font-size: 12px;
    text-decoration:none;
    text-align:center;
    /* display */
    justify-content: end;
}
.tip{
--color_input_light: rgba(0, 53, 78, 0.3);
--color_input_strong: rgba(1, 49, 71, 0.5);
--color_input_inner_light: rgba(25, 113, 155, 0.5);
--color_input_inner_strong: rgba(9, 55, 77, 0.5);
--color_submit_font_light: rgb(239, 248, 255);
--color_submit_font_strong: lightcoral;
--color_submit_back_light: rgb(111, 163, 206);
--color_submit_back_middle: rgb(95, 147, 189);
--color_submit_back_strong: rgb(74, 118, 155);
--color_submit_border_light: rgb(0, 0, 0);
--color_submit_border_strong: lightcoral;
}