/* block */
/* design */
/* font */
/* display */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "index_status-bar.css";
@import "index_header.css";
@import "index_input.css";
@import "index_variables.css";
body {
    font-family: "Open Sans", sans-serif";
}

#login-form {
    /* design */
    width:85%;
    margin-left: 7.5%;
    /* font */
    /* display */
    display: flex;
    flex-direction: column;
}
#login-form > input {
    /* design */
    margin-bottom: 1%;
    padding: 9px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid  var(--sub-tx-color-0_2);
    /* font */
    font-size: 18px;
    /* display */
    transition: border-color 0.3s ease-in-out;
}

#login-form > input::placeholder {
    color: var(--sub-tx-color-0_2);
    font-weight: bold;
}
#login-form > input:focus {
    border-color:var(--sub-tx-color-0_3);

}
input:focus {
    outline: none;
}

#login-form > a {
    /* design */
    /* font */
    /* display */
}
