/* block */
/* design */
/* font */
/* display */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css";
@import "background.css";
@import "var_color.css";
/*screen*/
@import "No-mobile/No-mobile.css";
@import "No-mobile/No-landscape.css";
/*animation*/
@import "animation/background-animation__001_Gradient.css";
/*components*/
@import "components/all_topbar.css";
@import "components/all_navigationbar.css";
@import "components/all_friends_header.css";
@import "components/all_user-component.css";
@import "components/all_icon-raw.css";
@import "components/all_friends_header.css";
@import "components/all-splash-screen.css";
/* Screens */
@import "index_header.css";
@import "index_input.css";
@import "index_account.css";
@import "friends_friends.css";
@import "all_icon-raw.css";
@import "friedns_open-chat.css";
@import "find_reccomended-friends.css";
@import "more_main.css";
@import "settings_setting.css";
@import "chat_room.css";
@import "chat_room-message.css";
@import "chat_room_reply.css";
@import "account_find-main.css";

body {
    /* design */
    background-color: var(--color-background_light);
    /* font */
    font-family: "Open Sans", sans-serif";
}
.re-sizing{
    font-size: 20px;
}
.underline-inherit{
    text-decoration: inherit;
}
.main-screen{
    padding: 0px 5% 0 5%;
}
.display-block{
    display:block;
}
.more-margin__top{
    margin-top:30px;
}
.position-relative{
    /* none */
}
.position-absolute{
    /* none */
}
.empty-box{
    margin-top: 40px;
    margin-bottom: 40px;
}
.align-items__right{
    align-items: right;
    justify-content: right;
}
.basic-settings-margin{
    margin:20px;
}
.bottom{
    /* design */
    margin-bottom: 15px;
    /* font */
    color:teal;
    font-size: 12px;
    text-decoration:none;
    text-align:center;
    /* display */
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: end;
}
.tip{
--color_input_light: rgba(0, 53, 78, 0.3);
--color_input_strong: rgba(1, 49, 71, 0.5);
--color_input_inner_light: rgba(25, 113, 155, 0.5);
--color_input_inner_strong: rgba(9, 55, 77, 0.5);
--color_submit_font_light: rgb(239, 248, 255);
--color_submit_font_strong: lightcoral;
--color_submit_back_light: rgb(152, 193, 226);
--color_submit_back_middle: rgb(61, 113, 156);
--color_submit_back_strong: rgb(74, 118, 155);
--color_submit_border_light: rgb(0, 0, 0);
--color_submit_border_strong: lightcoral;
}