.icon_raw {
  /* design */
  padding-left: 5%;
  padding-right: 5%;
  /* font */
  text-align: center;
  align-items: center;
  /* display*/
  display: flex;
  justify-content: space-between;
}
.icon_raw__icon {
  /* design */
  /* font */
  /* display*/
  align-items: center;
}
.icon_raw__icon__size {
  /* design */
  width: 60px;
  /* font */
  /* display*/
}
.icon_raw__icon__color {
  /* design */
  background-color: inherit;
  /* font */
  color: inherit;
  color: var(--color_navigationbar_icon_light);
  /* display*/
  transition: color 0.3s ease-in-out;
}
.icon_raw__icon__color:hover {
  /* design */
  /* font */
  color: var(--color_navigationbar_icon_middle);
  /* display*/
}
.icon_raw__icon-div__size {
  /* design */
  width: 80px;
  height: 80px;
  /* font */
  /* display*/
}
