.alt-headder {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: var(--horizontal-space__basic__padding);
  display: flex;
}
.alt-header__colmun__icon {
  width: 60px;
  height: 60px;
  color: inherit;
  color: ;
}
